/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/*BOOSTRAP*/
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

/*Material*/
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

/* global styles */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6a6a6a;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #bbbbbb;
  }
  
  .separator:not(:empty)::before {
    margin-right: .55em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .55em;
  }

  div.spinner, div.splash-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
  // 
ion-item {
  background: transparent;
  --highlight-height: 2px;
  --highlight-color-focused: #51f3ff;
  --highlight-color-valid: white;
  --highlight-color-invalid: #fff650;
  border-color: cornsilk !important;
  border-radius: 15px !important;
  border-style: groove !important;
}

ion-action-sheet.photo-options-sheet {
  --background: #f58840;
  --backdrop-opacity: 0.6;
  --button-background-selected: #e97223;
  --button-color: #000000;
  --color: #fff;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}

.custom-centered{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.custom-alert .alert-wrapper {
  background-color: white;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  // width: 82vw !important;
  // max-width: 82vw !important;
  // height: 30vh;
  // justify-content: space-around;
}

.custom-alert-2 .alert-wrapper, .custom-alert-3 .alert-wrapper{
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  // width: 82vw !important;
  // max-width: 82vw !important;
  // height: 30vh;
  // justify-content: space-around;
  .alert-message {
    color : #000 !important;
    font-size : 18px !important;
  }

  .alert-head {
    .alert-title {
      font-weight: bold;
    }
  }

  .alert-button-group {
    .alert-button{
      color: white;
      border-color: black !important;
      background-color: grey !important;
      border-width: 2px;
    }
  }
}

.custom-alert-2 .alert-wrapper {
  background-color: var(--ion-color-danger);
}

.custom-alert-3 .alert-wrapper {
  background-color: var(--ion-color-warning);
}

.alert-button {
  border-radius: 5px !important;
  border-style: solid !important;
  height: 6vh;
  width: 26vw;
  font-size : 15px !important;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-secondary);
  color : floralwhite
}

button.alert-button.alert-button-cancel {
  background-color : var(--ion-color-danger);
  color : floralwhite;
}

.alert-input.alert-input-text {
  color : (var(--ion-color-dark));
  font-size: 18px;
}

.alert-title {
  color : var(--ion-color-dark) !important
}

.alert-sub-title {
  color: var(--ion-color-medium) !important;
  font-size: 18px !important;
}

.alert-button-group {
  justify-content: space-around !important;
}

.alert-button-inner {
  justify-content: center !important;
}

// ion-content {
//   --background: unset;
//   background: linear-gradient(-45deg, #4d315f, #f386b0, #57386c,  #f1789e);
//   background-size: 400% 400%;
//   animation: gradient 5s ease infinite;
// }
  
//   @keyframes gradient {
//   0% {
//    background-position: 0% 50%;
//   }
  
//   50% {
//    background-position: 100% 50%;
//   }
  
//   100% {
//    background-position: 0% 50%;
//   }
// }


@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-font.woff2') format('woff2');
}

* {
  font-family: Quicksand;
}