.heading{
    font-size: 32px;
    font-weight: bold;
    color :rgb(66, 255, 66);
}
.para{
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.login-button{
    height: 50px;
    --border-radius: 12px;
    --box-shadow: none;
    --ion-color-base : rgb(66, 255, 66) !important;
}
.google-button{
    // padding-left: 20px;
    // padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    --box-shadow: none;
}
.signup-text{
    a{
        text-decoration: none;
        color: var(--ion-color-primary);
    }
    padding-right: 20px;
    text-align: end;
}

ion-footer {
    display: block;
    // position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
}
.copyright{
    text-align: center;
}

.iconEye {
    font-size: 26px;
}

.icon-button{
    --ripple-color: transparent;
}

ion-input {
    color : white;
}

ion-content.main {
  --background : transparent !important;
}


.form-container {
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(205, 205, 205);
    background: #222;
}

// .popover {
//     height: auto !important;
// }
// .popover ion-header-bar {
//     position: relative;
// }
// .popover ion-content {
//     top: 0;
//     position: relative;
// }